.full-width {
  width: 100%;
}

.container {
  margin-top: 10px;
  max-width: 500px;
}

button {
  margin: 5px;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 25%;
}
