<app-header></app-header>

<app-alert></app-alert>

<div class="container" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <mat-card class="card">
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <h3>{{ this.title }} Dragão</h3>
      </mat-card-title>
      <mat-card-content>
        <form (submit)="submit()" [formGroup]="manageForm" novalidate>
          <mat-form-field class="full-width">
            <input matInput placeholder="Nome" formControlName="name" [(ngModel)]="this.dragon.name" autocomplete="new-password" name="name" required />
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Tipo" formControlName="type" [(ngModel)]="this.dragon.type" autocomplete="new-password" name="type" required />
          </mat-form-field>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Histórias" formControlName="histories" name="histories" [(ngModel)]="this.dragon.histories"></textarea>
          </mat-form-field>
          <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
          <div class="blocks">
            <button button="submit" mat-raised-button color="primary" [disabled]="loading"> Salvar </button>
            <button button="button" (click)="this.back()" mat-raised-button> Voltar </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
