<mat-toolbar color="primary">
  <span>Projeto Dragões</span>
  <span class="example-fill-remaining-space"></span>
  <button mat-button (click)="this.home()">Usuários</button>
  <span class="example-fill-remaining-space"></span>
  <button mat-button (click)="this.dragons()">Dragões</button>
  <span class="example-fill-remaining-space"></span>
  <span class="align-center"></span>
  <span class="flex-spacer"></span>
  <button mat-button (click)="this.home()">Home</button>
  <button mat-button (click)="this.logout()">Logout</button>
</mat-toolbar>
